.coverDiv{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.caseContainer{
  width: 100%;
  margin-bottom: -2.5svh;
}

.case{
  height: 10svh;
  width: 47dvw;
  height: fit-content;
}

.userBtnContainer{
  height: 10svh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.tabSpan1{
  text-shadow: 0.1px 1px 4px black, 0 0 28px white, 0 0 5x white;
}
.tabSpan2{
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
}

.userBtn1{
  width: 47dvw;
  height: 7svh;
}
.userBtn2{
  width: 99dvw;
  height: 6svh;
}

.userBtn2{
  width: 47dvw;
  height: 7svh;
  box-shadow: 0 2px 4px 0 black, 0 0.75px 2.5px 0 white;
  border-radius: 1svh;
  color: white;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  font-weight:bold ;
}
.userBtnWrapper1{
  width: 99dvw;
  height: 7svh;
  background-color: red;
  border-radius: 1svh;
  color: white;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  font-weight:bolder ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.svg{
  width: 9dvw;
  height: 4svh;
  margin-left: 0.5vw;
  color: black;
  border-radius: 2px;
  padding: 1vw;
  border-top-right-radius: 3px;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);

}
.close{
  right: 1dvw;
  top: 1px;
  position: fixed;
  z-index: 8;
 }

 .svgM{
  width: 10dvw;
  height: 7svh;
}
 
 

.userBtnWrapper2{
  width: 47dvw;
  height: 7svh;
  background-color: #108a00;
  border-radius: 1svh;
  color: white;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  font-weight:bold ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.existingUserIn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 99dvw;
  height: 10svh;
}

.newUserIn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 99dvw;
  height: 10svh;
}

.existingClientUser{
 width: 99dvw;
 height: 95svh;
}
.newClientUser{
  width: 99dvw;
  height: 95svh;
  display: flex;
  justify-content: center;
}
.existingServiceProviderUser{
  width: 99dvw;
 height: 95svh;
}

.existingClientUserIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99dvw;
  height: 95svh;
  
}
.logInHeader{
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0.25px 0.25px 1px white, 0 0 7px white, 0 0 1.25px white;
  width:99dvw;
  height: 5svh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #108a00;
}
.newClientUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 99dvw;
  height: 95svh;
  animation: Slide-Up 1s  linear; 
}
.newServiceProviderUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 99dvw;
  height: 95svh;
  animation: Slide-Up 1s  linear; 
}
.overFlow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  width: 99dvw;
  height: 85svh;
}
.existingServiceProviderUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 99dvw;
  height: 95svh;
  animation: Slide-Up 1s  linear;
}

.userSvg{
  width:99dvw;
  height: 7svh;
  border-top-left-radius: 1svh;
  border-top-right-radius: 1svh;
  border-top: 3px solid #108a00;
  border-left: 3px solid #108a00;
  border-right:3px solid #108a00;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top,#108a00, #ADFF29);
  
}

.numberCover{
  font-weight: bold;
  color: black;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  margin-top: 1svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passCodeCover{
  font-weight: bold;
  color: black;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  margin-top: 1svh;
  margin-bottom: 1svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.innerCase{
  position: fixed;
  top: 0.00001px;
  z-index: 5;
  height: 95svh;
  animation: Slide-Up 1s  linear;
}



.logInCover{
  width: 99dvw;
  height: 7svh;
  border-bottom-left-radius: 1dvw;
  border-bottom-right-radius: 1dvw;
  background-color:#108a00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logIn{
  font-weight: bold;
  color: white;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  width: 40dvw;
  height: 5svh;
  border-radius: 14svh;
  background-color: #108a00;
  box-shadow: 0 2px 4px 0 black, 0 0.75px 2.5px 0 white;
}

.newUser{
  display: flex;
  justify-content: center;
  width: 100dvw;
}
.existingUser{
  display: flex;
  justify-content: center;
  width: 100dvw;
}
@keyframes Slide-Up {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }

  50%{
    transform: translateY(-50vh);
    opacity: .5;
  }
  to {
    transform: translateY(0svh);
    opacity: 1;
  }
}

@media screen and (min-width: 621px){
  .coverDiv{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: first baseline;
  }
  .userBtnContainer{
    height: 10svh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
  }
  .userBtnWrapper2{
    width: 23dvw;
    height: 7svh;
    background-color: #108a00;
    border-radius: 1svh;
    color: white;
    text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
    font-weight:bold ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
  .userBtnWrapper1{
    width: 50dvw;
    height: 7svh;
    background-color: #108a00;
    border-radius: 1svh;
    color: white;
    text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
    font-weight:bolder ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .userBtn1{
    width: 20dvw;
    height: 7svh;
  }
  .userBtn2{
    width: 47dvw;
    height: 6svh;
  }
  .caseContainer{
    width: 100vw;
    margin-bottom: -2.5svh;
  }
  .case{
    height: 10svh;
    width: 50dvw;
    height: fit-content;
  }
  .existingUserIn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50dvw;
    height: 10svh;
  }
  
  .newUserIn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50dvw;
    height: 10svh;
  }

  
.newUser{
  display: flex;
  justify-content: flex-start;
  width: 100dvw;
}
.existingUser{
  display: flex;
  justify-content: flex-start;
  width: 100dvw;
}

.logInCover{
  width: 50dvw;
  height: 7svh;
  border-bottom-left-radius: 1dvw;
  border-bottom-right-radius: 1dvw;
  background-color:#108a00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.existingUserIn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50dvw;
  height: 10svh;
}

.newUserIn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50dvw;
  height: 10svh;
}

.existingClientUser{
 width: 50dvw;
 height: 95svh;
}
.newClientUser{
  width: 50dvw;
  height: 95svh;
  display: flex;
  justify-content: center;
}
.existingServiceProviderUser{
  width: 50dvw;
 height: 95svh;
}

.existingClientUserIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50dvw;
  height: 95svh;
  
}
.logInHeader{
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0.25px 0.25px 1px white, 0 0 7px white, 0 0 1.25px white;
  width:50dvw;
  height: 5svh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #108a00;
}
.newClientUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50dvw;
  height: 95svh;
  animation: Slide-Up 1s  linear; 
}
.newServiceProviderUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50dvw;
  height: 95svh;
  animation: Slide-Up 1s  linear; 
}
.overFlow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  width: 50dvw;
  height: 85svh;
}
.existingServiceProviderUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50dvw;
  height: 95svh;
  animation: Slide-Up 1s  linear;
}
.userSvg{
  width:50dvw;
  height: 7svh;
  border-top-left-radius: 1svh;
  border-top-right-radius: 1svh;
  border-top: 3px solid #108a00;
  border-left: 3px solid #108a00;
  border-right:3px solid #108a00;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top,#108a00, #ADFF29);
  
}
.close{
  left: 40.3dvw;
  top: 1px;
  position: fixed;
  z-index: 8;
  width: 10dvw;
 }
 .svg{
  width: 9dvw;
  height: 4svh;
  margin-left: 0.5vw;
  color: black;
  border-radius: 2px;
  padding: 1vw;
  border-top-right-radius: 3px;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  z-index: 9;
}

}