.coverDiv{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.caseContainer{
  width: 100%;
  margin-bottom: -2.5vh;
}

.case{
  height: 10vh;
  width: 47vw;
  height: fit-content;
}

.userBtnContainer{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.tabSpan1N{
  text-shadow: 0.1px 1px 4px black, 0 0 28px white, 0 0 5x white;
}
.tabSpan2N{
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
}

.tabSpan1{
  text-shadow: 0.1px 1px 4px black, 0 0 28px white, 0 0 5x white;
  font-size: 1.5rem;
  font-weight: 1000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tabSpan2{
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  display: none;
  font-size: 1rem;
}
.tabSpan1C{
  text-shadow: 0.1px 1px 4px black, 0 0 28px white, 0 0 5x white;
  display: none;
}
.tabSpan2C{
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
}

.userBtn1{
  width: 47vw;
  height: 7vh;
}
.userBtn2{
  width: 99vw;
  height: 6vh;
}

.userBtn2{
  width: 47vw;
  height: 7vh;
  box-shadow: 0 2px 4px 0 black, 0 0.75px 2.5px 0 white;
  border-radius: 1vh;
  color: white;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  font-weight:bold ;
}
.userBtnWrapper1{
  width: 99vw;
  height: 7vh;
  background-color: #45474B;
  border-radius: 1vh;
  color: white;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  font-weight:bolder ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.svg{
  width: 5vw;
  height: 8vh;
  color: black;
}
.close{
  right: 1vw;
  top: 1px;
  position: fixed;
  color: black;
  z-index: 8;
 }

 .svgM{
  width: 10vw;
  height: 7vh;
}
 
 

.userBtnWrapper2{
  width: 49.5vw;
  height: 7vh;
  background-color: #F4CE14;
  color: #495E57;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  font-weight:bold ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.userBtnWrapper2In{
  width: 49.5vw;
  height: 9vh;
  background-color: #F4CE14;
  color: #495E57;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  font-weight:bold ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.existingUserIn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 7vh;
  position: absolute;
  z-index: 3;

}

.newUserIn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 7vh;
  position: absolute;
  z-index: 3;

}

.existingClientUser{
 width: 99vw;
 height: 95vh;
}
.newClientUser{
  width: 99vw;
  height: 95vh;
  display: flex;
  justify-content: center;
}
.existingServiceProviderUser{
  width: 99vw;
 height: 95vh;
}

.existingClientUserIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 95vh;
  
}
.logInHeader{
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0.25px 0.25px 1px white, 0 0 7px white, 0 0 1.25px white;
  width:99vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #108a00;
}
.newClientUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 99vw;
  height: 95vh;
  animation: Slide-Up 1s  linear; 
}
.newServiceProviderUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 99vw;
  height: 95vh;
  animation: Slide-Up 1s  linear; 
}
.overFlow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  width: 99vw;
  height: 85vh;
}
.existingServiceProviderUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 99vw;
  height: 95vh;
  animation: Slide-Up 1s  linear;
}

.userSvg{
  width:99vw;
  height: 7vh;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  border-top: 3px solid #108a00;
  border-left: 3px solid #108a00;
  border-right:3px solid #108a00;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top,#108a00, #ADFF29);
  
}

.numberCover{
  font-weight: bold;
  color: black;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passCodeCover{
  font-weight: bold;
  color: black;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.innerCase{
  position: fixed;
  top: 0.00001px;
  z-index: 5;
  height: 95vh;
  animation: Slide-Up 1s  linear;
}



.logInCover{
  width: 99vw;
  height: 7vh;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  background-color:#108a00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logIn{
  font-weight: bold;
  color: white;
  text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
  width: 40vw;
  height: 5vh;
  border-radius: 14vh;
  background-color: #108a00;
  box-shadow: 0 2px 4px 0 black, 0 0.75px 2.5px 0 white;
}

.newUser{
  display: flex;
  justify-content: center;
  width: 100vw;
}
.existingUser{
  display: flex;
  justify-content: center;
  width: 100vw;
}
.cancel{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
left: 46vw;
z-index: 4;
width: 2em;
height: 2em;
border-radius: 3rem;
color: #45474B;
background-color: #F4CE14;
box-shadow: 0 2px 4px 0 black, 0 0.75px 2.5px 0 white;
opacity: 0.7;
}
.cancelC{
 display: none;
}
.cancelSvg{
 width: 1rem;
 height: 1rem;
}
@keyframes Slide-Up {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }

  50%{
    transform: translateY(-50vh);
    opacity: .5;
  }
  to {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@media screen and (min-width: 621px){
  .coverDiv{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: first baseline;
  }
  .userBtnContainer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
  }
  .userBtnWrapper2{
    width: 23vw;
    height: 7vh;
    background-color: #108a00;
    border-radius: 1vh;
    color: white;
    text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
    font-weight:bold ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
  .userBtnWrapper1{
    width: 50vw;
    height: 7vh;
    background-color: red;
    border-radius: 1vh;
    color: white;
    text-shadow: 0.25px 0.25px 1px black, 0 0 7px white, 0 0 1.25px white;
    font-weight:bolder ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .userBtn1{
    width: 20vw;
    height: 7vh;
  }
  .userBtn2{
    width: 47vw;
    height: 6vh;
  }
  .caseContainer{
    width: 100vw;
    margin-bottom: -2.5vh;
  }
  .case{
    height: 10vh;
    width: 50vw;
    height: fit-content;
  }
  .existingUserIn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 10vh;
  }
  
  .newUserIn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 10vh;
  }

  
.newUser{
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}
.existingUser{
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

.logInCover{
  width: 50vw;
  height: 7vh;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  background-color:#108a00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.existingUserIn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 10vh;
}

.newUserIn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 10vh;
}

.existingClientUser{
 width: 50vw;
 height: 95vh;
}
.newClientUser{
  width: 50vw;
  height: 95vh;
  display: flex;
  justify-content: center;
}
.existingServiceProviderUser{
  width: 50vw;
 height: 95vh;
}

.existingClientUserIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 95vh;
  
}
.logInHeader{
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0.25px 0.25px 1px white, 0 0 7px white, 0 0 1.25px white;
  width:50vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #108a00;
}
.newClientUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  height: 95vh;
  animation: Slide-Up 1s  linear; 
}
.newServiceProviderUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  height: 95vh;
  animation: Slide-Up 1s  linear; 
}
.overFlow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  width: 50vw;
  height: 85vh;
}
.existingServiceProviderUserIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50vw;
  height: 95vh;
  animation: Slide-Up 1s  linear;
}
.userSvg{
  width:50vw;
  height: 7vh;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  border-top: 3px solid #108a00;
  border-left: 3px solid #108a00;
  border-right:3px solid #108a00;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top,#108a00, #ADFF29);
  
}
.close{
  left: 40.3vw;
  top: 1px;
  position: fixed;
  z-index: 8;
  width: 10vw;
 }
 .svg{
  width: 9vw;
  height: 5vh;
  margin-left: 0.5vw;
  color: black;
}

}