.passcodeContainer{
  background-color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85dvw;
  height: 7svh;
}
.btn{
  width: fit-content;
}
.input{
  width: 6dvw;
  height: 4svh;
  margin-left: 0.5dvw;
  margin-right: 0.5dvw;
  border-radius: 3px;
  display: flex;
  padding-left: 2.3%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


