.contain{
  width: 98dvw;
  max-height: 80svh;
  min-height: 33svh;
  left: 1dvw;
  top: 7.5svh;
  position: fixed;
  background-image: linear-gradient(to bottom, #108a00, #ADFF29);
  border: 1px solid #108a00;
  z-index: 3;
  overflow-y: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #108a00;
  margin-bottom: 1svh;
  background-image: linear-gradient(to top, #108a00, #ADFF29);
  border: 1px solid #108a00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin-top: 1svh;
}
.ulClass{
  padding-left: 5px;
  padding-right: 5px;
  border: 5px;
}

.liCover{
  display: flex;
  align-items: center;
  background-color: #108a00;
  color: white;
  height: 35px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.eSvg{
  width: 8dvw;
  height: 3.5svh;
  margin-left: 1dvw;
  margin-right: 1dvw;
}
.chatSvg{
  width: 8dvw;
  height: 3.5svh;
  margin-left: 1dvw;
  margin-right: 1dvw;
}

.paragraph{
  margin-top: 1svh;
  margin-bottom: 1svh;
  margin-right: 5px;
  margin-left: 5px;
  background-image: linear-gradient(to bottom, #108a00, #ADFF29);
  border: 1px solid #108a00;
  font-size: 1.2em;
  color: black;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #108a00;
  font-family: cursive;
}
