.formContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 94dvw;
}

.form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 90dvw;
	height: 50svh;
	overflow-y: auto;
	background-color:silver;
	padding-bottom: 3svh;
}


.input {
	margin-top: 2svh;
	margin-bottom: 1.5svh;
	color: black;
	width: 87dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  letter-spacing: 4dvw;
  box-shadow: -2px 2px 5px grey;
  padding-left: 1dvw;
  padding-right: 1dvw;
  height: 5svh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
}
.inputS {
	margin-top: 2svh;
	margin-bottom: 1.5svh;
	color: black;
	width: 87dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  box-shadow: -2px 2px 5px grey;
  padding-left: 1dvw;
  padding-right: 1dvw;
  height: 5svh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
}
.textarea{
  margin-top: 2svh;
	margin-bottom: 1.5svh;
	color: black;
	width: 87dvw;
  box-shadow: -2px 2px 5px grey;
  padding-left: 1dvw;
  padding-right: 1dvw;
  height: 15svh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
}

.error {
	color: red;
	margin-left: 10px;
}

.passWordContainer {
	display: flex;
	width: 85dvw;
	justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: -2px 2px 5px grey;
  margin-top: 1.5svh;
  margin-bottom: 1.5svh;
  height: 5svh;
}

.passWord {
	width: 74dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
  letter-spacing: 5dvw;
}

.visibility {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10dvw;
	color: black;
	height: 4.1svh;
  margin-top: 0.1svh;
  background-color: white;
}

.passWordSvg {
	width: 10dvw;
	height: 4svh;
	color: white;
	border-radius: 3svh;
}

.button {
  background-color: black;
	color: white;
	width: 85dvw;
  margin-top: 3svh;
	box-shadow: 0 2px 4px 0 black, 0 0.75px 2.5px 0 white;
  height: 5.55svh;
  border-radius: 1svh;
}


.passcodeContainer{
	margin-top: 1.5svh;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70dvw;
  height: 6svh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
  width: fit-content;
}
.input1{
  width: 7dvw;
  height: 4svh;
  border-radius: 7px;
  display: flex;
  padding-left: 3.5%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.svg{
  width: 10dvw;
  height: 4svh;
  color: black;
  box-shadow: 0 2px 4px 0 black, 0 0.75px 2.5px 0 white;
  border-radius: 1svh;
}

.img1{
  width: 10dvw;
  height: 5svh;
  border-radius: 5%;
  margin-right: 3dvw;
}

.select{
	margin-top: 2svh;
	margin-bottom: 1.5svh;
	color: black;
	width: 70dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  letter-spacing: 1dvw;
  box-shadow: -2px 2px 5px grey;
  padding-left: 1dvw;
  padding-right: 1dvw;
  height: 5svh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
}
.option{
	display: flex;
}

.tabControl{
  max-height: 20svh;
  width: 50dvw;
  overflow-y: auto;
}

.renderCover{
  display: flex;
  align-items: center;
  margin-left: 1dvw;
  margin-bottom: 1svh;
  font-weight: 500;
  max-height: 30svh;
  width: 70dvw;
  border-bottom: .3px solid black;
  padding-bottom: 1svh;
}

.img{
  width: 10dvw;
  height: 5svh;
  border-radius: 50%;
  margin-right: 1dvw;
}

.show{
	display: none;
}
