.formContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 99vw;
}

.form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 85vh;
	overflow-y: auto;
	background-image: linear-gradient(to bottom, white, whitesmoke);
	padding-bottom: 3vh;
}


.input {
	margin-top: 2vh;
	margin-bottom: 1.5vh;
	color: black;
	width: 87vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  box-shadow: -2px 2px 5px grey;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 5vh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
}
.inputS {
	margin-top: 2vh;
	margin-bottom: 1.5vh;
	color: black;
	width: 87vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  box-shadow: -2px 2px 5px grey;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 5vh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
}
.textarea{
  margin-top: 2vh;
	margin-bottom: 1.5vh;
	color: black;
	width: 87vw;
  box-shadow: -2px 2px 5px grey;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 15vh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
}

.error {
	color: red;
	margin-left: 10px;
}

.passWordContainer {
	display: flex;
	width: 85vw;
	justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: -2px 2px 5px grey;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  height: 5vh;
}

.passWordContainerV {
	display: flex;
	width: 70vw;
	justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: -2px 2px 5px grey;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  height: 5vh;
}
.passcodeContainerV{
	margin-top: 1.5vh;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 59vw;
  height: 6vh;
	border: 2px solid silver;
}

.passWord {
	width: 74vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
  letter-spacing: 5vw;
}

.visibility {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10vw;
	color: black;
	height: 4.1vh;
  margin-top: 0.1vh;
  background-color: white;
}

.passWordSvg {
	width: 10vw;
	height: 4vh;
	color: white;
	border-radius: 3vh;
}

.button {
  background-color: #108a00;
	color: white;
	width: 85vw;
  margin-top: 3vh;
	box-shadow: 0 2px 4px 0 #108a00, 0 0.75px 2.5px 0 white;
  height: 5.55vh;
  border-radius: 1vh;
}


.passcodeContainer{
	margin-top: 1.5vh;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
  height: 6vh;
	border: 2px solid silver;
}
.btn{
  width: fit-content;
}
.input1{
  width: 7vw;
  height: 4vh;
  border-radius: 7px;
  display: flex;
  padding-left: 2.5%;
	border: 2px solid silver;
	color: black;
}



.svg{
  width: 10vw;
  height: 4vh;
  color: black;
  border-radius: 1vh;
	border: 1px solid silver;
}

.img1{
  width: 10vw;
  height: 5vh;
  border-radius: 5%;
  margin-right: 3vw;
}

.select{
	margin-top: 2vh;
	margin-bottom: 1.5vh;
	color: black;
	width: 70vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  box-shadow: -2px 2px 5px grey;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 5vh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
}
.option{
	display: flex;
}

.tabControl{
  max-height: 20vh;
  width: 50vw;
  overflow-y: auto;
}

.renderCover{
  display: flex;
  align-items: center;
  margin-left: 1vw;
  margin-bottom: 1vh;
  font-weight: 500;
  max-height: 30vh;
  width: 70vw;
  border-bottom: .3px solid black;
  padding-bottom: 1vh;
}

.img{
  width: 10vw;
  height: 5vh;
  border-radius: 50%;
  margin-right: 1vw;
}

.show{
	display: none;
}

.paspinComfirm{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Times New Roman', Times, serif;
  color: #108a00;
	position: relative;
	top: 0.3em;
	height: 1vh;
}
.paspinComfirm1{
	align-items: center;
	font-family: 'Times New Roman', Times, serif;
  color: #108a00;
	position: relative;
	top: 0.3em;
	height: 1vh;
}

@media screen and (max-width: 620px){

}

@media screen and (min-width: 621px){

	.formContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50vw;
	}
	
	.form {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		width: 50vw;
		height: 89vh;
		overflow-y: auto;
		background-image: linear-gradient(to bottom, white, whitesmoke);
		padding-bottom: 3vh;
	}
	
	.input {
		margin-top: 2vh;
		margin-bottom: 1.5vh;
		color: black;
		width: 43vw;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		box-shadow: -2px 2px 5px grey;
		padding-left: 1vw;
		padding-right: 1vw;
		height: 10vh;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		background-color: white;
	}
	.inputS {
		margin-top: 2vh;
		margin-bottom: 1.5vh;
		color: black;
		width: 43vw;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		box-shadow: -2px 2px 5px grey;
		padding-left: 1vw;
		padding-right: 1vw;
		height: 10vh;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		background-color: white;
	}
	.textarea{
		margin-top: 2vh;
		margin-bottom: 1.5vh;
		color: black;
		width: 43vw;
		box-shadow: -2px 2px 5px grey;
		padding-left: 1vw;
		padding-right: 1vw;
		height: 25vh;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		background-color: white;
	}
	
	.error {
		color: red;
		margin-left: 10px;
	}
	

	
	.passWord {
		width: 37vw;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;	
		letter-spacing: 5vw;
	}
	
	.visibility {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5vw;
		color: black;
		height: 8.1vh;
		margin-top: 0.1vh;
		background-color: white;
	}
	
	.passWordSvg {
		width: 5vw;
		height: 4vh;
		color: white;
		border-radius: 3vh;
	}
	
	.button {
		background-color: #108a00;
		color: white;
		width: 42vw;
		margin-top: 3vh;
		box-shadow: 0 2px 4px 0 #108a00, 0 0.75px 2.5px 0 white;
		height: 7vh;
		border-radius: 1vh;
	}
	
	
	.passcodeContainer{
		margin-top: 1.5vh;
		background-color: white;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 30vw;
		height: 7vh;
		border: 2px solid silver;
	}
	.passcodeContainerV{
		margin-top: 1.5vh;
		background-color: white;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 25vw;
		height: 7vh;
		border: 2px solid silver;
	}
	.btn{
		width: fit-content;
	}
	.input1{
		width: 3vw;
		height: 5vh;
		border-radius: 7px;
		display: flex;
		padding-left: 2.5%;
		border: 2px solid silver;
		color: black;
	}
	
	
	
	.svg{
		width: 5vw;
		height: 5vh;
		color: black;
		border-radius: 1vh;
		border: 1px solid silver;
	}
	
	.img1{
		width: 10vw;
		height: 5vh;
		border-radius: 5%;
		margin-right: 3vw;
	}
	
	.select{
		margin-top: 2vh;
		margin-bottom: 1.5vh;
		color: black;
		width: 35vw;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		box-shadow: -2px 2px 5px grey;
		padding-left: 1vw;
		padding-right: 1vw;
		height: 10vh;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		background-color: white;
	}
	.option{
		display: flex;
	}
	.paspinComfirm{
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Times New Roman', Times, serif;
		color: #108a00;
		position: relative;
		top: 0.3em;
		height: 2vh;
	}
	.paspinComfirm1{
		align-items: center;
		font-family: 'Times New Roman', Times, serif;
		color: #108a00;
		position: relative;
		top: 0.3em;
		height: 2vh;
	}
	

}
@media screen and (min-width: 919px){

}

@media screen and (min-width: 1161px){

}
