.contactUsContainer {
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 5svh;
  border-radius: 5px;
}

.contact{
  position: fixed;
  top: 11vh;
  right: 1vw;
  font-size: smaller;
  width: 100vw;
  height: fit-content;
  background-color: white;
}

.contactUs{
  width: 100vw;
  background-color: whitesmoke;
}
.contactUsIn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: white;
  color: black;
}


.contactBtn {
	display: flex;
	color: white;
  width: 15vw;
  height: 5.5svh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
  font-weight: bold;
  font-size: smaller;
  padding-left: 0.5dvw;
}
.conbtn{
  background-color:rgb(215, 234, 213);
  border: 1px solid black;
  color: black;
  width: 15vw;
  height: 5.5svh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.conbtnClick{
  background-color: lime;
  border: 2px solid lime;
  color: white;
  width: 13vw;
  height: 5svh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.svg {
	width: 1em;
	height: 1em;
	margin-left: 0.3em;
	margin-right: 0.3em;
}
 
.svg1 {
	width: 9dvw;
  height: 3svh;
  margin-left: -1dvw;
  margin-right: -1dvw;
}
.con{
  width: 100vw;
}
