.cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5svh;
  width: 30vw;
  animation: Appear 2.5s linear;
}
.ilud{
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
  font-size: 1.3em;
  font-weight: bold;
  color:#F4CE14;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mix{
  margin-left: -1.7vw;
}
@keyframes Appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50%{
    transform: scale(0.5);
    opacity: .5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


@media screen and (max-width: 620px){
  .mix{
    margin-left: -5.7%;
  }
  .ilud{
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: #495E57;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
}
}
@media screen and (min-width: 450px){
  .cover{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    height: 5.5svh;
    width: 15vw;
    
  }
  .mix{
    margin-left: -5.7%;
  }
}
@media screen and (min-width: 520px){
  .mix{
    margin-left: -3.7%;
  }
}
@media screen and (min-width: 620px){
  .mix{
    margin-left: -7%;
  } 
  .cover{
    height: 10svh;
    width: 15vw;
    background-color: #F5F7F8;
    color: #108a00;
    box-shadow: none;
  }
  .ilud{
   
    font-size: 3em;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#495E57;
     background-color: #F5F7F8;
    width: inherit;
    height: inherit;
    justify-content: center;
  }
}
@media screen and (min-width: 820px){
  .mix{
    margin-left: -2.2%;
  } 
}
@media screen and (min-width: 1020px){
  .mix{
    margin-left: -2.2%;
  } 
  .cover{
    padding-top: 0.3%;
  }
}
@media screen and (min-width: 1400px){
  .mix{
    margin-left: -1.5%;
  } 
}