.cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5svh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30vw;
  background-color: silver;
}
.ilud{
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
  font-size: 2em;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(to left, #108a00, #ADFF29);
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mix{
  margin-left: -1.7vw;
}



@media screen and (max-width: 620px){
  .mix{
    margin-left: -5.7%;
  }
  .ilud{
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
  font-size: 1em;
  font-weight: bold;
  color: white;
 background-image: linear-gradient(to left, #108a00, #ADFF29);
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
}
}
@media screen and (min-width: 420px){
  .mix{
    margin-left: -5.7%;
  }
}
@media screen and (min-width: 520px){
  .mix{
    margin-left: -3.7%;
  }
}
@media screen and (min-width: 620px){
  .mix{
    margin-left: -2.7%;
  } 
  .cover{
    padding-top: 0.7%;
  }
  .ilud{
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
   background-image: linear-gradient(to left, #108a00, #ADFF29);
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 820px){
  .mix{
    margin-left: -2.2%;
  } 
}
@media screen and (min-width: 1020px){
  .mix{
    margin-left: -2.2%;
  } 
  .cover{
    padding-top: 0.3%;
  }
}
@media screen and (min-width: 1400px){
  .mix{
    margin-left: -1.5%;
  } 
}