.parent{
  display: flex;
  width: 100vw;
  height: 33vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  margin-top: 0.333%;
  justify-content: space-between;
  background-color: white;
}
.imgform{
  width: 30vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.imgcontainer{
 width: 30vw;
 height: 26vh;
 margin-top: 0.3%;
 margin-left: 2%;
 border-left: 1px solid silver;
 box-shadow: 1px 1px 2px grey;
 text-align: center;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
.img{
 width: inherit;
 height: inherit;
 border-radius: inherit;
}
.linkBtn{
  border: 1px solid silver;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 2px grey;
  width: inherit;
  height: 17.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5%;
}
.link{
  font-size: 0.7em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.form{
  width: 67vw;
  height: 32vh;
  display: grid;
  border-right: 1px solid silver;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  row-gap: 2%;
  background-color: white;
}
.formSpan{
  border-right: 1px solid silver;
  width: 97%;
  padding-left: 2%;
  font-weight: 500;
  overflow-y: auto;
  font-size: 1em;
  background-color: silver;
  
  margin-left: 1%;
  margin-right: 0.3em;
}
.headsvg{
  display: flex;
  padding-left: 0.3em;
  border-right: 1px solid silver;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  background-color: black;
  color: gold;
  font-weight: bolder;
  font-size: 1em;
  overflow-y: auto;
}
.svg{
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.3em;
  margin-right: 0.7em;
}
.carousel_footer{
  display: flex;
}
.btn{
  border: 1px solid silver;
  width: 50%;
  box-shadow: 1px 1px 2px grey;
  height: 95%;
  font-weight: bold;
}
.btn1{
  border: 1px solid silver;
  width: 50%;
  box-shadow: 1px 1px 2px grey;
  height: 95%;
  font-weight: bold;
  padding-left: 1em;
}
.btnSpan1{
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px dodgerblue, 0 0 5px rgb(13, 227, 13);
  width: 33vw;
}
.btnSpan2{
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px dodgerblue, 0 0 5px rgb(252, 3, 3);
  width: 33vw;
}

