
.parent {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 26vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}

.mainCard {
	width: 99vw;
	height: 25vh;
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.titleTop{
  width: inherit;
  height: 5vh;
	
	display: flex;
  justify-content: center;
  align-items: center;
	background-image: linear-gradient(to top, white, #108a00);
}


.titleTopSpan{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .8rem;
	font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
	transform: scaleY(1.5);
	
}

.mainBody{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.bodyCardCategory{
  width: 47vw;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.catImgCover{
  width: 22vw;
  height: 16vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imgCat{
  width: 22vw;
  height: 16vh;
	border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inBodyCardCategory{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;
  width: 23vw;
}

.unHighLighted{
  width: 22vw;
  height: 4vh;
  color: #108a00;
  border: 1px solid #108a00;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.highLighted{
  width: 22vw;
  height: 4.5vh;
  background-color: #108a00;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.catSpan{
  font-size: 0.7rem;
	font-weight: bolder;
	font-family: 'Times New Roman', Times, serif;
	display: flex;
	justify-content: center;
	text-align: center;
}

.carouselImageCover{
  overflow-x: auto;
  display: flex;
	justify-content: center;
	align-items: center;
  width: 40dvw;
	height: 18vh;
}
.slider {
	width: 40dvw;
	height: 16vh;
  animation: move-right 10s  infinite linear;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgSlide {
	width: 40vw;
  height: 16vh;
	border-radius: 5px;
}



@keyframes move-right {
  0% {
    transform: translateX(-40vw);
    opacity: 0;
  }

  50%{
    transform: translateX(4vw);
    opacity: 1;
  }
  to {
    transform: translateX(48vw);
    opacity: 0;
  }
}