
.parent {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 99dvw;
	height: 25vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 0.333%;
	background-color: white;
}

.titleSpan1 {
	font-size: 0.7em;
	font-weight: bolder;
	font-family: 'Times New Roman', Times, serif;
	color: white;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.titleSpan {
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	color: white;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.titleCover {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4vh;
	width: 44vw;
	background-color:  #108a00;
	border-top-right-radius: 3px;
}
.titleCover1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3vh;
	width: 44vw;
	background-color:  #108a00;
}

.mainCard {
	width: 97vw;
	height: 24vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
  
}
.cardLCover{
  z-index: 2;
}
.cardL {
	width: 47vw;
	height: 22vh;
	padding-bottom: 1vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.carouselImageCover{
  overflow-x: auto;
  display: flex;

}

.cardS {
	width: 47vw;
	height: 22vh;
	padding-bottom: 1vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: whitesmoke;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.imgCover1 {
	width: 44vw;
	height: 17vh;
}
.imgCover2 {
	width: 44dvw;
	height: 17vh;
	border-right: 2px solid  rgb(215, 234, 213);
  animation: move-right 4.9s  infinite linear;
}



.imgL {
	width: inherit;
	height: inherit;
	border-radius: inherit;
	padding-bottom: inherit;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgSlide {
	width: 40vw;
  height: 20vh;
	height: inherit;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgCover {
	width: 37vh;
	height: 17vh;
	padding-right: 5vw;
	position: relative;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}

.img {
	width: inherit;
	height: inherit;
	border-radius: inherit;
	padding-bottom: inherit;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front {
	width: 44vw;
	height: 17vh;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleTop{
  width: inherit;
  height: 4vh;
  border-top-right-radius: 3px;
}

.titleTopSpan{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
	font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #108a00;
}

.cardCategory{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 47vw;
	height: 22vh;
}
.catImgCover{
  width: 22vw;
  height: 12vh;
}
.imgCat{
  width: 22vw;
  height: 12vh;
  border-radius: 25vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bodyCardCategory{
  width: 47vw;
  height: 17vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inBodyCardCategory{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;
  width: 23vw;
}

.spanCategory{
  width: 22vw;
  height: 3vh;
  color: #108a00;
  border: 1px solid #108a00;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.highLighted{
  width: 22vw;
  height: 3.5vh;
  background-color: #108a00;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.catSpan{
  font-size: 0.7rem;
	font-weight: bolder;
	font-family: 'Times New Roman', Times, serif;
	display: flex;
	justify-content: center;
	text-align: center;
}


@keyframes move-right {
  0% {
    transform: translateX(-40vw);
    opacity: 0;
  }

  50%{
    transform: translateX(4vw);
    opacity: 1;
  }
  to {
    transform: translateX(48vw);
    opacity: 0;
  }
}