.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #45474B;
}
.headMain{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  background-color:#F5F7F8;
}
.header{
  display: flex;
  width: 100vw;
  height: 7vh;
  justify-content: space-around;
  align-items: center;
}

.nav{
  width: 100vw;
  height: 7vh;
  background-color: #F5F7F8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1vw;
}
.inNav{
 align-self: center;

}
.bodyCover{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bodyCard{
  width:100vw;
  height: 45vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color:#45474B;
  margin-bottom: 1vh;
  padding-top: 1vh;
}

.other{
  margin-bottom: 2vh;
  margin-top: 2vh;
  overflow-y: auto;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 99vw;
  height: fit-content;
}
.userbtn{
  height: fit-content;
}


.footer{
  width:100vw;
  height: 7vh;
  background-color: black;
}


.copyRight{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.8em;
  height: 5.55vh;
  width: 30vw;
  
}

.footCard{
  font-size: 0.8em;
  width: 30vw;
  height: 5.55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 1em;
}


.ilud{
  height: 7vh;
  width: 20vw;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  display: flex;
  align-items: center;
}

.paraTop{
  font-size: 1.1em;
  transform: scaleY(1.5);
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}

@media screen and (max-width: 620px){
  .inCardA{
    width: 87vw;
    height: 21vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 0.5px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    box-shadow: 0 0.3px 1px 0 #F4CE14, 0 1px 4px 0 #F4CE14;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #F5F7F8;
  }
  
  .inCardB{
    width: 87vw;
    height: 21vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 0.5px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    box-shadow: 0 0.3px 1px 0 #F4CE14, 0 1px 4px 0 #F4CE14;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #F5F7F8;
  }
}

@media screen and (min-width: 621px){

  .panelCover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
  }

  .main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #F5F7F8;
  }
  .headMain{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
    height: fit-content;
    background-color:  #F5F7F8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .header{
    display: flex;
    flex-direction: row-reverse;
    width: 50vw;
    height: 14vh;
    justify-content: space-between;
    align-items: center;
  }

  .nav{
    width: 50vw;
    height: 10vh;
    background-color:#F5F7F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  .bodyCover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
  }
  .inBodyCover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 85vh;
  }

  .carouselCover{
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   }

  .bodyCard{
    height: 84vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid silver;
    background-color: white;
  }

  
  .inCardA{
    width: 45vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .inCardB{
    width: 45vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .userbtn{
    position: absolute;
    left: 1px;
    bottom: 1px;
    width: 50vw;
  
  }
  .footer{
    display: none;
  }

}