.bodyMainCover{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navCover{
  display: block;
}

.nav{
  display: flex;
  width: 100vw;
}

.mobileIlud{
  display: none;
}

.tabletIlud{
  display: none;
}

.desktopIlud{
  display: none;
}

.navlist{
  display: block;
}
.mobileNavList{
  display: none;
}


.tabletNavList{
  display: none;
}

.desktopNavList{
  display: none;
}

.mobilebody{
  display: none;
}

.mobileCarouselCover{
  display: none;
}

.mobileBurgerMenu{
  display: none;
}

.mobileNewLetter{
  display: none;
}

.tabletBody{
  display: block;
}

.desktopBody{
  display: block;
}

@media screen and (max-width: 620px){

  .navCover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border-bottom: 1px solid black;
  }

  .nav{
    display: flex;
    height: 10vh;
    width: 90vw;
    align-content: center;
    justify-content: space-between;
    padding-top: 20px;
   }

   .iludCover{
    display: flex;
   justify-content: center;
   align-items: center;
    width: 30vw;
   }

  .mobileIlud{
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .navlist{
    display: flex;
    width: 50vw;
  }

  .mobileNavList{ 
    display: flex;
    justify-self: flex-end;
    align-self: center;
  }
  .mobilebody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mobileCarouselCover{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobileBurgerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
  }
  .mobileNewLetter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  
}

@media screen and (min-width: 450px){

}

@media screen and (min-width: 520px){

}

@media screen and (min-width: 621px){
  .tabletIlud{
    display: flex;
  }
}
@media screen and (min-width: 700px) {

}

@media screen and (min-width: 820px){

}

@media screen and (min-width: 919px) {

}

@media screen and (min-width: 1020px){

}

@media screen and (min-width: 1161px) {

}

@media screen and (min-width: 1400px){

}