.click {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 17vh;
	width: 25vw;
	border-radius: 5px;
	background-color: white;
	border-radius: 5px;
}
.Klick {
	display: flex;
	align-items: center;
	height: 5vh;
	width: 33.5vw;
	background-color: #A6CF98;
}

.inClick {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	height: 7vh;
	width: 90vw;
	background-color: #108a00;
	color: white;
	padding-left: 2vw;
}

.lineContainer {
	width: 98vw;
	height: 99vh;
	left: 1vw;
	top: 0.1vh;
	position: fixed;
	background-color: white;
	z-index: 7;
	animation: Slide-Down 0.5s linear;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.iCover {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.tabCover {
	width: 21vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.tabCoverP {
	width: 33.5vw;
	height: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #A6CF98;
}
.intabCover {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-image: linear-gradient(to top, white, #108a00);
	box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
		0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}
.cov {
	width: 97vw;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.imgTC {
	width: 20vw;
	height: 10vh;
	box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
		0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	border-bottom-right-radius: 13vw;
}
.imgITC {
	width: 20vw;
	height: 10vh;
	box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
		0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	border-bottom-right-radius: 10vw;
}
.tabBtnclicked {
	width: 27vw;
	height: 38vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aims {
	font-size: 0.7rem;
	font-family: "Times New Roman", Times, serif;
	color: #108a00;
	font-weight: 900;
}
.inAims {
	font-size: 1.4rem;
	font-weight: bolder;
	align-self: last baseline;
	font-family: "Times New Roman", Times, serif;
	color: white;
	transform: scaleY(2);
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}
.abtSvg {
	width: 8vw;
	height: 3.5vh;
	color: #108a00;
}

.panel {
	background-color:#F2FFE9;
	width: 100vw;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.titleCover {
	display: grid;
	align-items: center;
	justify-content: start;
	width: 85vw;
}
.cardTitle {
	margin-top: 1vh;
	font-size: 1rem;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	color: #108a00;
}

.close {
	right: 2vw;
	top: 1vh;
	position: fixed;
	z-index: 8;
}
.closeIn {
	right: 10vw;
	top: 1vh;
	position: fixed;
	z-index: 11;
	width: 15vw;
	height: 7vh;
	border-radius: 25vw;
}
.hidden {
	display: none;
}
.closeP {
	right: 2vw;
	top: 2vh;
	position: fixed;
	z-index: 8;
	animation: Appear 1s linear;
}

.svg1 {
	width: 11vw;
	height: 6vh;
	color: black;
	border-radius: 2px;
	padding: 1vw;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.renderedServices {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 3vw;
	height: 80vh;
	width: 85vw;
	overflow-y: auto;
	padding-bottom: 10vh;
}
.renderCover {
	width: 80vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 2vw;
	gap: 3vw;
	box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
		0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.sname {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-family: "Times New Roman", Times, serif;
	font-weight: 900;
	color: #108a00;
}
.tSDiscription {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to top, white, #108a00);
}

.ServiceHolder {
	background-color: white;
}
.sHName {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-family: "Times New Roman", Times, serif;
	font-weight: 900;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	align-self: last baseline;
}

.displayFinalService {
	width: 98vw;
	height: 99vh;
	left: 1vw;
	top: 0.1vh;
	position: fixed;
	background-color: white;
	z-index: 9;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.inDisplayFinalService {
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
		0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	background-image: linear-gradient(to top, white, #108a00);
	height: 10vh;
	width: inherit;
	font-family: "Times New Roman", Times, serif;
	font-weight: 900;
	font-size: 1.2rem;
	color: white;
	animation: Slide-Down 0.5s linear;
}

.body{
	height: 89vh;
	width: 100vw;
}

.map{
	width: 100vw;
	height: 30vh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.inBody{
	width: 100vw;
	height: 59vh;
}
.filter{
	width: 100vw;
	height: 23vh;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.03);
}
.vendorsDisplay{
	width: 100vw;
	height: 35vh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes Slide-Down {
	0% {
		transform: translateY(-40vh);
		opacity: 0;
	}

	50% {
		transform: translateY(-20vh);
		opacity: 0.5;
	}
	to {
		transform: translateY(0vh);
		opacity: 1;
	}
}

@keyframes Appear {
	0% {
		transform: scale(1);
		opacity: 0;
	}

	50% {
		transform: scale(1.5);
		opacity: 0.5;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@media screen and (max-width: 620px) {
	.locate{
		background-color: #108a00;
		color: white;
		font-size:large;
		width: 20vw;
		height: 5vh;
		border-radius: 7vh;
		margin-left: 0.5vw;
		margin-top: 0.5vw;
	}
	.img {
		width: 15vw;
		height: 8vh;
		border-radius: 5px;
	}

	.svg {
		width: 9vw;
		height: 5vh;
		color: white;
		border-radius: 2px;
		padding: 1vw;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	}
	.tabCoverP {
		width: 33.5vw;
		height: 3vh;
		display: flex;
		align-items: center;
		justify-content: center;
		border-left: 1px solid white;
		border-right: 1px solid white;
		background-color: #A6CF98;
	}
	.vendor {
		width: 90vw;
		height: 15vh;
		column-gap: 1vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.tabBtn {
		width: 25vw;
		height: 15vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
			0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
	}
	.tabBtnP {
		width: inherit;
		height: 4vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #A6CF98;
		box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
			0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	}
	.clickFinal {
		margin-left: 1vw;
		width: 80vw;
		height: 10vh;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 2vw;
		gap: 3vw;
		box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
			0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
	}
}

@media screen and (min-width: 621px) {
	.lineContainer {
		width: 50vw;
		height: 99vh;
		left: 50vw;
		top: 0.1vh;
		position: fixed;
		background-color: white;
		z-index: 7;
		animation: Slide-Down 0.5s linear;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.renderedServices {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1vw;
		height: 80vh;
		width: 50vw;
		overflow-y: auto;
		padding-bottom: 10vh;
		align-items: flex-end;
	}
	.iCover {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 100vh;
		width: 50vw;
	}

	.imgITC {
		width: 20vw;
		height: 20vh;
		box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
			0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
		border-bottom-right-radius: 10vw;
	}

	.inDisplayFinalService {
		display: flex;
		justify-content: flex-start;
		box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
			0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
		background-image: linear-gradient(to top, white, #108a00);
		height: 20vh;
		width: inherit;
		font-family: "Times New Roman", Times, serif;
		font-weight: 900;
		font-size: 1.2rem;
		color: white;
		animation: Slide-Down 0.5s linear;
	}

	.svg {
		width: 9vw;
		height: 5vh;
		color: white;
		border-radius: 2px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	}

	.inAims {
		font-size: 1.1rem;
		font-weight: bolder;
		align-self: center;
		font-family: "Times New Roman", Times, serif;
		color: white;
		transform: scaleY(2);
		text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	}

	.imgTC {
		width: 20vw;
		height: 20vh;
		box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
			0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
		border-bottom-right-radius: 13vw;
	}

	.intabCover {
		width: 50vw;
		height: 20vh;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background-image: linear-gradient(to top, white, #108a00);
		box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
			0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
	}

	.click {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 39vh;
		width: 27vw;
		border-radius: 5px;
		background-color: white;
		border-radius: 5px;
	}
	.panel {
		background-color: #108a00;
		width: 30vw;
		height: 5vh;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
	}
	.panelCover {
		width: 30vw;
		height: 5vh;
	}

	.tabBtnP {
		width: 10vw;
		height: 5vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #108a00;
	}
	.tabCoverP {
		width: 10vw;
		height: 7vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;
	}
	.abtSvg {
		width: 8vw;
		height: 3.5vh;
		color: #108a00;
	}
	.sname {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		font-family: "Times New Roman", Times, serif;
		font-weight: 900;
		color: #108a00;
	}
	.svgtb {
		width: 40vw;
		height: 20vh;
	}
	.svg1 {
		width: 40vw;
		height: 20vh;
	}

	.img {
		width: 15vw;
		height: 20vh;
		border-radius: 5px;
	}
	.clickFinal {
		padding-left: 0.3vw;
		margin-left: 1vw;
		width: 47vw;
		height: 21vh;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 3vw;
		box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05),
			0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
	}

	.aims {
		font-size: 1.2rem;
		font-family: "Times New Roman", Times, serif;
		color: #108a00;
		font-weight: 900;
	}

	.tabBtn {
		width: 27vw;
		height: 38vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid silver;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.tabCover {
		width: 27vw;
		height: 38vh;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding-left: 1vw;
		flex-direction: column;
	}

	.vendor {
		width: 45vw;
		height: 140vh;
		row-gap: 0.5vh;
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
	}


	.body{
		height: 79vh;
		width: 98vw;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	
	.map{
		width: 48.5vw;
		height: 76vh;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	.inBody{
		width: 48.5vw;
		height: 76vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.filter{
		width: 48.5vw;
		height: 28vh;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.03);
	}
	.vendorsDisplay{
		width: 48.5vw;
		height: 46vh;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.locate{
		background-color: #108a00;
		color: white;
		font-size:large;
		width: 20vw;
		height: 5vh;
		border-radius: 7vh;
		margin-left: 2vw;
		margin-top: 0.5vw;
	}
}

@media screen and (min-width: 919px) {
	.aims {
		font-size: 1.5rem;
		font-family: "Times New Roman", Times, serif;
		color: #108a00;
		font-weight: 900;
	}
  .inAims {
		font-size: 1.5rem;
		font-weight: bolder;
		align-self: center;
		font-family: "Times New Roman", Times, serif;
		color: white;
		transform: scaleY(2);
		text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	}
	.locate{
		background-color: #108a00;
		color: white;
		font-size:large;
		width: 5vw;
		height: 5vh;
		border-radius: 7vh;
		margin-left: 2vw;
		margin-top: 0.5vw;
	}

}

@media screen and (min-width: 1161px) {
	.aims {
		font-size: 2rem;
		font-family: "Times New Roman", Times, serif;
		color: #108a00;
		font-weight: 900;
	}
	.img {
		width: 10vw;
		height: 20vh;
		border-radius: 5px;
	}
	.inAims {
		font-size: 2.5rem;
		font-weight: bolder;
		align-self: center;
		font-family: "Times New Roman", Times, serif;
		color: white;
		transform: scaleY(2);
		text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	}
	.locate{
		background-color: #108a00;
		color: white;
		font-size:large;
		width: 5vw;
		height: 5vh;
		border-radius: 7vh;
		margin-left: 1vw;
		margin-top: 0.5vw;
	}
}

@media screen and (min-width: 700px) {
	.locate{
		background-color: #108a00;
		color: white;
		font-size:large;
		width: 10vw;
		height: 5vh;
		border-radius: 7vh;
		margin-left: 0.5vw;
		margin-top: 0.5vw;
	}
	.renderedServices {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1vw;
		height: 80vh;
		width: 50vw;
		overflow-y: auto;
		padding-bottom: 10vh;
	}
}
