.click{
  display: flex;
  align-items: center;
  height: 17svh;
  width: 25vw;
  border-radius: 5px;
  background-color: white;
  border-radius: 5px;
  
}
.Klick{
  display: flex;
  align-items: center;
  height: 5svh;
  width: 33.5vw;
  border-radius: 5px;
  background-color: white;
  border-radius: 5px;
}

.inClick{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  height: 7svh;
  width: 90dvw;
  background-color: #108a00;
  color: white;
  padding-left: 2dvw;
}

.lineContainer{
  width: 98dvw;
  height: 99vh;
  left: 1dvw;
  top: 0.1svh;
  position: fixed;
  background-color: white;
  z-index: 7;
  overflow-y: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
 }

 .iCover{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;
  width: max-content;
 }

 .tabCover{
  width: 21vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

 }
 .tabCoverP{
  width: 33.5vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: #108a00;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
 }
 .intabCover{
  width: 97vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .cov{
  width: 97vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .img{
  width: 21vw;
  height: 8vh;
 }

 .tabBtnclicked {
  width: inherit;
  height: inherit;
  display: flex;
 }
 .tabBtn{
  width: 25vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
 }

 .tabBtnP{
  width: inherit;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .aims{
  font-size: 0.7rem;
  font-weight: bolder;
 }

 .vendor{
  width: 90vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
 }
 .panel{
  background-color: #108a00;
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
 }

 .titleCover{
 display: grid;
 align-items: center;
 justify-content: start;
 width: 85vw;
  
 }
 .cardTitle{
  margin-top: 1svh;
  font-size:1rem;
  font-family: cursive;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  color: #108a00;
 }
 
 .close{
  right: 2dvw;
  bottom: 2svh;
  position: fixed;
  z-index: 8;
 }


 
 .svg{
  width: 9dvw;
  height: 5svh;
  color: black;
  color: black;
  border-radius: 2px;
  padding: 1vw;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
 }

 .svg1{
  width: 11dvw;
  height: 6svh;
  color: black;
  color: black;
  border-radius: 2px;
  padding: 1vw;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
 }

 .svgP{
  width: 10dvw;
  height: 4.5vh;
  color: white;
  padding: 1vw;
  align-self: center;
  justify-self: center;
 }

 .renderedServices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  width: 98vw;
  flex-wrap: wrap;
  padding-bottom: 10vh;
 }
 .renderCover{
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2vw;
  gap: 3vw;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
 }
 .sname{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
 }

 .clickFinal{
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2vw;
  gap: 3vw;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.05), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
 }
 .ServiceHolder{
  background-color: white;
 }

 .displayFinalService{
  width: 98dvw;
  height: 99vh;
  left: 1dvw;
  top: 0.1svh;
  position: fixed;
  background-color: white;
  z-index: 9;
  overflow-y: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
 }

