.lineContainer{
 width: 98dvw;
 max-height: 89svh;
 min-height: 37svh;
 overflow-y: auto;
 left: 1dvw;
 top: 6.9svh;
 position: fixed;
 background-color: white;
 z-index: 7;
 overflow-y: auto;
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-left: 1px solid silver;
 border-right: 1px solid silver;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}



.ServiceClick{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 2px;
  height: 6svh;
  width: 90dvw;
  background-color: white;
  color: #108a00;
  padding-left: 2dvw;
  margin-left: 2vw;
  border-bottom: 1px solid  #108a00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bolder;
}

.renderCover{
  display: flex;
  align-items: center;
  margin-left: 12vw;
  margin-top: 1svh;
  margin-bottom: 1svh;
  font-weight: 500;
  max-height: 30svh;
  font-family: 'Times New Roman', Times, serif;
  width: 77dvw;
  border-bottom: .3px solid #108a00;
  padding-bottom: 1svh;
  
}

.img{
  width: 10dvw;
  height: 5svh;
  border-radius: 50%;
  margin-right: 1dvw;
}

.img1{
  width: 10dvw;
  height: 5svh;
  border-radius: 5%;
  margin-right: 3dvw;
}

.tabBtn{
  display: flex;
  align-items: center;
  padding-top: 0.5svh;
  font-weight: bold;
  background-color: #108a00;
  width: 69vw;
  height: 4svh;
  color: white;
  border-radius: 3px;
}

.tabBtnclicked{
  display: flex;
  align-items: center;
  padding-top: 0.5svh;
  background-color:  #108a00;
  width: 65vw;
  height: 4svh;
  color: white;
}
.abtSvg{
  width: 8dvw;
  height: 3.5svh;
}
.span{
  font-size: .8rem;
  margin-top: 0.4vh;
  padding-bottom: 0.7vh;
  font-weight: bolder;
  transform: scaleY(1.3);
  font-family: 'Times New Roman', Times, serif;
}
.aims{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 2dvw;
  font-weight: bolder;
  font-size: 0.9em;
  color: #108a00;
}
.tabCover{
  margin-top: 1svh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.tabHolder{
  display: flex;
  align-items: center;
  width: 90dvw;
  justify-content: space-between;
}
.tabControl{
  max-height: 50svh;
  width: 90dvw;
  overflow-y: auto;
  margin-left: 2vw;
}

.chevron{
  margin-left: 30dvw;
}
.svg1{
  width: 11dvw;
  height: 4svh;
}
.svg2{
  width: 10dvw;
  height: 4svh;
}
.svg3{
  width: 10dvw;
  height: 4svh;
}
.sname{
  color: #108a00;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
}
.tabin{
  display: flex;
  align-items: center;
}
@media screen and (max-width: 620px){
  .click{
    display: flex;
    align-items: center;
    border-radius: 3%;
    height: 5.5svh;
    width: 65vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@media screen and (min-width: 621px){
 
  .click{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3%;
    height: 7svh;
    width: 30vw;
  
  }

  .tabBtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0.5svh;
    font-weight: bold;
    background-color: white;
    width: 30vw;
    height: 7svh;
    color: #108a00;
    border-radius: 3px;
  }
  .tabBtnclicked{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.5svh;
    background-color:  #108a00;
    width: 30vw;
    height: 4svh;
    color: white;
  }
  .abtSvg{
    width: 10dvw;
    height: 3.5svh;
  }
  .span{
    font-size: .7rem;
    margin-top: 0.4vh;
    padding-bottom: 0.7vh;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
  }

}
@media screen and (min-width: 621px){

  .click{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3%;
    height: 7svh;
    width: 40vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .tabBtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0.5svh;
    font-weight: bold;
    background-color: white;
    width: 40vw;
    height: 7svh;
    color: #108a00;
    border-radius: 3px;
  }
  .tabBtnclicked{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.5svh;
    background-color:  #108a00;
    width: 40vw;
    height: 4svh;
    color: white;
  }
  .span{
    font-size: 1rem;
    margin-top: 0.4vh;
    padding-bottom: 0.7vh;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
  }
}



